.imp_tag {
    background-color: red;
    color: white;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 10px;
    display: inline-block;
  }
  
  .upd_tag {
    background-color: aquamarine;
    color: black;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 10px;
    display: inline-block;
  }
  
  .fup_tag {
    background-color: gray;
    color: white;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 10px;
    display: inline-block;
  }
  