<div class="container">
  <div class="seat-booking-container">
    <h2>Book a Seat</h2>

    <form (ngSubmit)="bookSeat()">
      <table class="table">
        <thead>
          <tr>
            <th>Seat Number</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <input class="form-control"
                  type="number"
                  id="seatNumber"
                  [(ngModel)]="seatNumber"
                  name="seatNumber"
                  min="1"
                  max="80"
                  required
                />
              </div>
            </td>
            <td>
              <div class="form-group">
                <input class="form-control"
                  type="date"
                  id="fromDate"
                  [(ngModel)]="fromDate"
                  name="fromDate"
                  required
                />
              </div>
            </td>
            <td>
              <div class="form-group">
                <input class="form-control"
                  type="date"
                  id="toDate"
                  [(ngModel)]="toDate"
                  name="toDate"
                  required
                />
              </div>
            </td>
            <td>
              <button type="submit" class="btn btn-outline-primary">Book Seat</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <div class="message error text-danger mt-2" *ngIf="bookingError">{{ bookingError }}</div>
    <div class="message success text-success mt-2" *ngIf="bookingSuccess">{{ bookingSuccess }}</div>
  </div>
</div>
