.overtime {
    background-color: green;
    color: white;
    border: 2px solid black;
  }
  
  .present {
    background-color: greenyellow;
    color: black;
    border: 2px solid black;
  }
  
  .halfDay {
    background-color: yellow;
    color: black;
    border: 2px solid black;
  }
  
  .absent {
    background-color: red;
    color: white;
    border: 2px solid black;
  }
  